.skills {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* Fix navbar scroll */
#skills {
  scroll-margin-top: 90px;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.skill-card {
  background: rgba(0, 0, 0, 0.6);
  padding: 25px;
  border-radius: 20px;
  width: 300px;

  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);

  transition: 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.5);
}

.skills-content h1 {
  font-size: 42px;
  text-shadow: 0 0 15px cyan;
}